################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsomamecoApi/src/obj/Release/net8.0
/.vs
